/*---------------header---------------*/
@import "../variables/required-utils";

.nak-header {
    display: flex;
    align-items: center;
    padding: var(--margin-header);
}

.nak-logo {
    display: flex;
    align-items: center;
}

.nak-logo__svg {
    margin-right: var(--small);
    max-width: 100%;
    width: var(--width-logo)
}
.nak-page-header{
  padding: 10px;
  display: flex;
  width: 100%;
  flex-direction: column;
  &.is-sticky{
    position: fixed;
    top: 0;left: 0;
    z-index: 3;
  }
  .home &{
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 6;

  }
  [class^="nak-icon-"]{
    margin-left: auto;
    cursor: pointer;

    .home &{
      /*color:white;*/

    }
  }
}
