/*---------------home---------------*/
.home{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  .logo{
    width: 300px;
    position: absolute;
    bottom:8vh;
    left: 35vw;
@media all and(max-width: 500px){
  left: 11vw;
}
  }
}
